<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89970750012-1kjo8ng8e63mts6llmo6jndh3ea7dkng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89970750012-1kjo8ng8e63mts6llmo6jndh3ea7dkng</string>
	<key>API_KEY</key>
	<string>AIzaSyDS01PuFus5jr_J30X_F_T7VqBnut92OWk</string>
	<key>GCM_SENDER_ID</key>
	<string>89970750012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mihirpatel.Buddychat</string>
	<key>PROJECT_ID</key>
	<string>buddychat-a118d</string>
	<key>STORAGE_BUCKET</key>
	<string>buddychat-a118d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89970750012:ios:f3215af7e4da46aa2f4939</string>
</dict>
</plist>